* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#footer {
  height: 30vh;
  background-color: #fff;
  padding: 20px;
}
.container {
  width: 83%;
  margin: auto;
}
#foot {
  background-color: #eeeeee;
  height: 70vh;
}
.row {
  display: flex;
  padding-top: 60px;
  gap: 6%;
  margin-bottom: 20px;
}
.foot-col h1 {
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}
.foot-col p {
  color: rgb(117, 116, 116);
  font-weight: 400;
  margin-bottom: 20px;
}
.foot-col .icons {
  margin-top: 35px;
  color: gray;
}
.foot-col .icons i {
  margin-right: 10px;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid gray;
  transition: 0.5s;
}
.foot-col .icons i:hover {
  color: rgb(224, 49, 49);
  border: 1px solid red;
}

.foot-col2 h4 {
  font-weight: 700;
  color: rgb(43, 42, 42);
  margin-bottom: 20px;
}
.foot-col2 ul {
  list-style: none;
}
.foot-col2 ul .l1 {
  padding: 0 0 10px 0;
}
.foot-col2 ul li {
  padding: 8px 0;
}

.foot-col2 ul li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(117, 116, 116);
  font-weight: 400;
  transition: 0.5s;
}
.foot-col2 ul li a:hover {
  color: rgb(224, 49, 49);
}
.foot-col3 h4 {
  font-weight: 700;
  color: rgb(36, 35, 35);
  margin-bottom: 20px;
}
.foot-col3 .address {
  color: rgb(26, 25, 25);
  font-weight: 450;
  margin-bottom: 20px;
}
.foot-col3 .contact p strong {
  font-weight: 700;
  color: rgb(36, 35, 35);
  margin-bottom: 20px;
}
.foot-col3 .contact p strong span {
  color: rgb(117, 116, 116);
  font-weight: 400;
}
.copy {
  margin-top: 30px;
  width: 100%;
  height: 15vh;
  background: rgb(231, 231, 231);
  text-align: center;
  padding: 20px;
}
.copy p {
  margin-bottom: 8px;
}
.copy p span {
  color: rgb(39, 39, 39);
  font-weight: 400;
}
.copy p span a {
  text-decoration: none;
  color: rgb(245, 35, 35);
}
